<!DOCTYPE html>

<html ng-app="PokerApp">
  <head>
    <title>Let's Play: Poker</title>
    <link rel="stylesheet" type="text/css" href="../public/css/cards.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../public/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/Poker.css">
    <script src="../public/scripts/jquery.js" type="text/javascript"></script>
    <script src="../public/scripts/jquery-ui.min.js" type="text/javascript"></script>
    <script src="../public/scripts/socket.io.js" type="text/javascript"></script>
    <script src="../common/view.js" type="text/javascript"></script>
    <script src="../common/client-main.js" type="text/javascript"></script>
    <script src="../common/Player.js" type="text/javascript"></script>
    <script src="../common/Hand.js" type="text/javascript"></script>
    <script src="../common/Card.js" type="text/javascript"></script>
  </head>
  <body>
      <div id="game-results"></div>
      <div id="notifications"></div>
      <div id="game-area">

          <div id="table" class="playingCards faceImages"></div>

          <div id="menu">
              <div id="controls" style="display: none">
                  <button id="exchange-btn" disabled>Exchange</button>
                  <button id="hold-btn" disabled>Hold</button>
              </div>
              <div id="game-options" style="display: none">
                  <button id="play-again">Join Game</button>
                  <button id="add-ai">Add AI</button>
                  <label>Open spots: <span id="slot-count"></span></label>
              </div>
          </div>
      </div>
      <input class="test" type="text" name="n1-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n1-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n2-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n2-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n3-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n3-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n4-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n4-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n5-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="n5-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o1-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o1-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o2-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o2-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o3-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o3-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o4-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o4-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o5-r" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="o5-s" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <input class="test" type="text" name="playerid" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default; width: 1px;">
      <button id="test-add-human" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;"></button>
      <button id="test-exchange-human" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;"></button>
      <button id="test-add-ai" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;"></button>
      <button id="test-exchange-ai" style="color: transparent; background-color: transparent; border-color: transparent; cursor: default;"></button>
  </body>
</html>
